@use "sass:math";
@use "variables" as *;

$card-height: 130px;
$card-width: 155px;

#carousel {
  display: flex;
  justify-content: space-between;
  margin: 0 -24px;

  #left,
  #right {
    width: 40px;
    background-color: $background;
    position: relative;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
  #left button {
    left: 0;
  }
  #right button {
    right: 0;
  }
  button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 99px;
    height: 32px;
    width: 32px;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    top: math.div($card-height, 2) - 8px;

    &:hover {
      background-color: $footer;
    }
  }

  #slider {
    width: 100%;
    overflow-x: hidden;

    #container {
      display: flex;
      transition: transform 1s ease;
    }
  }
  .card {
    margin-right: 8px;
    width: $card-width;

    .img {
      width: $card-width;
      height: $card-height;
      border-radius: 20px;
      background-color: $footer;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .info {
      padding: $half-space;

      .name {
        font-weight: 700;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        margin-bottom: 4px;
      }
      .distance {
        display: flex;
        align-items: center;

        img {
          height: 12px;
          margin-right: 4px;
        }
      }
    }
  }
}
